
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= pages_home_path%>">Home <span class="sr-only">(current)</span></a></li>
    
        <li><a href="<%= new_product_path%>"> Crear Producto</a></li>
      
        <li><a href="<%= products_path%>"> Lista de productos</a></li>
        
      </ul>
      
      
    </div>
  </div>
</nav>